<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring02:war exploded">
    <output-path>$PROJECT_DIR$/spring02/target/spring02-1.0-SNAPSHOT</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring02</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring02" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.20" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.6.1" />
          <element id="library" level="project" name="Maven: com.alibaba:druid:1.1.12" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.9.5" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring02/target/spring02-1.0-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring02/web/Web" />
    </root>
  </artifact>
</component>